module: satosa.micro_services.consent.Consent
name: Consent
config:
  api_url: "https://{{cmservice_hostname}}/"
  redirect_url: "https://{{cmservice_hostname}}/consent"
  sign_key: "keys/satosa.pem"
