# subdomain for the pyFF mdq
server {
    listen {{ nginx_port }} ssl;
    ssl_certificate {{ mdq_server_cert }};
    ssl_certificate_key {{ mdq_server_key }};
    server_name {{ pyff_hostname }};

    location / {
        proxy_set_header Host $host;
        proxy_pass http://{{ pyff_host }}:{{ pyff_port }}/;
    }
}

